<div id="projects" class="background-alt">
    <h2 class="heading">Projects <i class="fa fa-gamepad" aria-hidden="true"></i></h2>
    <div class="container">
        <div class="row">
            <div class="project shadow-large">
                <div class="project-image bomberman">
                    <img src="assets/img/PartyMode.gif" />
                </div>
                
                <!-- End .project-image -->
                <div class="project-info">
                    <h3>Recreating Bomberman</h3>
                    <p>
                        A Unity project completed for my masters' thesis. 
                        The main features/mechanics of the game are:
                        <br/> - power-ups for extra bombs and lifes, extended fire range, ghost bombs, etc.
                        <br/> - 3 types of AI: the Bot, the Smart Monster and the Dummy Monster
                        <br/> - 3 modes: Adventure (PvMonsters), Multiplayer (PvP), Party (PvBots)
                        <br/> - level variation system: for generation and alteration on Party & Multiplayer Mode
                        <br/> - 2 types of cameras: 2.5D for the Adventure Mode, 2D for the other Modes
                        <br/> - character and skin selection screen
                    </p>
                    <a href="https://youtu.be/2y8VVPS_f3A" target="_blank">Adventure</a>  -  
                    <a href="https://youtu.be/inbzVMuXcvk" target="_blank">Multiplayer</a>  -  
                    <a href="https://youtu.be/z9y0_pxFjas" target="_blank">Party</a>
                </div>
                <!-- End .project-info -->
            </div>
        </div>
        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="assets/img/ArcadeParadise.gif" />
                </div>
                
                <!-- End .project-image -->
                <div class="project-info">
                    <h3>Arcade Paradise</h3>
                    <p>
                        <i>"With keys to King Wash, embark on a 90s retro arcade adventure to turn a rundown laundromat into the ultimate arcade!"</i> (summary on Steam)
                        <br/><br/>Fruit Crumble, Hustler, Snake, Bomberdudes, Laundromat &amp; Cleaning functionality 
                        were only some of the features I helped to build, while I was on my work placement!
                    </p>
                    <a href="https://store.steampowered.com/news/app/1388870/view/3127183702295460743" target="_blank">Post by the Publisher</a>
                </div>
                <!-- End .project-info -->
            </div>
        </div>
        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="assets/img/GameGolfPrototype.gif" />
                </div>
                <!-- End .project-image -->
                <div class="project-info">
                    <h3>Golf Game Prototype</h3>
                    <p>
                        A prototype for my masters' second semester group project made in Unity, 
                        presenting a variety of easily implemented mechanics: 
                        <br/> - power-ups for increase strike force, transportation and swapping players' position
                        <br/> - bonus points system
                        <br/> - co-op functionality (by pressing simultaneously buttons to open a hatch)
                        <br/> - ball's behaviour on different materials
                        <br/> - death from fireballs or drowning
                    </p>
                    <a href="https://github.com/sopa92/GolfGamePrototype" target="_blank">View
                        Project</a>
                </div>
                <!-- End .project-info -->
            </div>
            <!-- End .project -->

            <div class="project shadow-large">
                <div class="project-image">
                    <img src="assets/img/GooseGame.gif" />
                </div>
                <!-- End .project-image -->
                <div class="project-info">
                    <h3>Unoriginal Goose Game</h3>
                    <p>
                        A C++ project created as a coursework for Advance Game Technologies, that made me explore aspects like:
                        <br/> - physics (forces, impulse, torque, etc.) &amp; collisions
                        <br/> - state machines
                        <br/> - raycasting
                        <br/> - AI and pathfinding
                        <br/> - networking
                    </p>
                    <a href="https://github.com/sopa92/CSC8503_Tutorials"
                        target="_blank">View Project</a>
                </div>
                <!-- End .project-info -->
            </div>

            <div class="project shadow-large">
                <div class="project-image">
                    <img src="assets/img/DanceLearning.gif" />
                </div>
                <!-- End .project-image -->
                <div class="project-info">
                    <h3>Educational Software for Dance Learning</h3>
                    <p>
                        My very first Unity project, created as my bachelor thesis (2014). It contains many different aspects of game development, as :
                        <br/> - lighting (directional light and spotlights)
                        <br/> - multi-camera viewports
                        <br/> - shadows 
                        <br/> - texturing 
                        <br/> - motion capturing 
                        <br/> - animation exporting and processing
                    </p>
                    <a href="https://github.com/sopa92/Educational-Software-for-Dance-Learning" target="_blank">View Project</a>
                </div>
                <!-- End .project-info -->
            </div>
            <!-- End .project -->
        </div>
    </div>
</div>
<!-- End #projects -->