<div id="projects" class="background-alt">
    <h2 class="heading">Projects <i class="fa fa-gamepad" aria-hidden="true"></i></h2>
    <div class="container">
        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="assets/img/GameGolfPrototype.gif" />
                </div>
                <!-- End .project-image -->
                <div class="project-info">
                    <h3>Golf Game Prototype</h3>
                    <p>
                        A prototype for my masters' second semester group project made in Unity, 
                        presenting a variety of easily implemented mechanics: 
                        <br/> - power-ups for increase strike force, transportation and swapping players' position
                        <br/> - bonus points system
                        <br/> - co-op functionality (by pressing simultaneously buttons to open a hatch)
                        <br/> - ball's behaviour on different materials
                        <br/> - death from fireballs or drowning
                    </p>
                    <a href="https://github.com/sopa92/GolfGamePrototype" target="_blank">View
                        Project</a>
                </div>
                <!-- End .project-info -->
            </div>
            <!-- End .project -->

            <div class="project shadow-large">
                <div class="project-image">
                    <img src="assets/img/GooseGame.gif" />
                </div>
                <!-- End .project-image -->
                <div class="project-info">
                    <h3>Unoriginal Goose Game</h3>
                    <p>
                        A C++ project created as a coursework for Advance Game Technologies, that made me explore aspects like:
                        <br/> - physics (forces, impulse, torque, etc.) &amp; collisions
                        <br/> - state machines
                        <br/> - raycasting
                        <br/> - AI and pathfinding
                        <br/> - networking
                    </p>
                    <a href="https://github.com/sopa92/CSC8503_Tutorials"
                        target="_blank">View Project</a>
                </div>
                <!-- End .project-info -->
            </div>

            <div class="project shadow-large">
                <div class="project-image">
                    <img src="assets/img/DanceLearning.gif" />
                </div>
                <!-- End .project-image -->
                <div class="project-info">
                    <h3>Educational Software for Dance Learning</h3>
                    <p>
                        My very first Unity project, created as my bachelor thesis (2014). It contains many different aspects of game development, as :
                        <br/> - lighting (directional light and spotlights)
                        <br/> - multi-camera viewports
                        <br/> - shadows 
                        <br/> - texturing 
                        <br/> - motion capturing 
                        <br/> - animation exporting and processing
                    </p>
                    <a href="https://github.com/sopa92/Educational-Software-for-Dance-Learning" target="_blank">View Project</a>
                </div>
                <!-- End .project-info -->
            </div>
            <!-- End .project -->
        </div>
    </div>
</div>
<!-- End #projects -->